@mixin font-face($style-name, $file, $category:"") {
  $filepath: "../assets/fonts/" + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
  }
  %#{$style-name} {
    font: {
      @if $category != "" {
        family: "#{$style-name}", #{$category};
      }
      @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  }
}

@font-face {
  font-family: CircularBook;
  src: url("../assets/fonts/circular-book.woff2");
}

@include font-face(CircularStd-Black,  CircularStd-Black, serif);
@include font-face(Proxima_Nova_Bold,  Proxima_Nova_Bold, serif);
@include font-face(Proxima_Nova_Bold_Italic,  Proxima_Nova_Bold_Italic, serif);
@include font-face(Proxima_Nova_Light,  Proxima_Nova_Light, serif);
@include font-face(Proxima_Nova_Light_Italic,  Proxima_Nova_Light_Italic, serif);
@include font-face(Proxima_Nova_Regular,  Proxima_Nova_Regular, serif);
@include font-face(Proxima_Nova_Regular_Italic,  Proxima_Nova_Regular_Italic, serif);
@include font-face(Proxima_Nova_Semibold,  Proxima_Nova_Semibold, serif);
@include font-face(Proxima_Nova_Semibold_Italic,  Proxima_Nova_Semibold_Italic, serif);
@include font-face(startui,  startui, serif);