<app-region-top-artist></app-region-top-artist>

<section class="my-region-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <app-region-artist-visible></app-region-artist-visible>
      </div>

      <div class="col-md-3">
          <app-region-artist-news></app-region-artist-news>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-region-categories></app-region-categories>
      </div>
    </div>
  </div>
</section>