$colors: (
    primary: #36474F,
    secondary: #F54337
);

/* ========== FONTS ========== */
$circular: CircularStd-Black;
$circularBook: CircularBook;
$ProximaNovaRegular: Proxima_Nova_Regular;
$ProximaNovaBold: Proxima_Nova_Bold;

/* ========== MIXINS & FUNCTIONS ========== */
// GET COLOR FROM MAP COLORS
@function color($name) {
    @return map-get($colors, $name);
}