<section class="what-we-have">
  <div class="container">
      <div class="left">
          <img class="img" src="/assets/img/mockup.png" alt="">
      </div>

      <div class="right">
          <h2 class="title">Quem nós divulgamos?</h2>

          <h3 class="sub-title">Região</h3>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat eveniet accusantium nostrum nam...</p>

          <h3 class="sub-title">Cultura</h3>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat eveniet accusantium nostrum nam...</p>
          
          <h3 class="sub-title">Pessoa</h3>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat eveniet accusantium nostrum nam...</p>
      </div>
  </div>
</section>

<section class="our-plans">
  <div class="container">
      <h1 class="title">Nossos planos</h1>
      
      <div class="wrap-plan">
          <article class="plan">
              <div class="title-wrap">
                  <h2 class="title">SoundAround Free</h2>
                  <h3 class="sub-title">R$ 0,00 <span class="min">/mês</span></h3>
              </div>

              <ul class="wrap-items">
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
              </ul>

              <button class="btn btn-success">Obter plano</button>
          </article>

          <article class="plan">
              <div class="title-wrap">
                  <h2 class="title">SoundAround Free</h2>
                  <h3 class="sub-title">R$ 0,00 <span class="min">/mês</span></h3>
              </div>

              <ul class="wrap-items">
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
              </ul>

              <button class="btn btn-success">Obter plano</button>
          </article>

          <article class="plan">
              <div class="title-wrap">
                  <h2 class="title">SoundAround Free</h2>
                  <h3 class="sub-title">R$ 0,00 <span class="min">/mês</span></h3>
              </div>

              <ul class="wrap-items">
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
                  <li class="item">Lorem ipsum dolor sit amet</li>
              </ul>

              <button class="btn btn-success">Obter plano</button>
          </article>
      </div>
  </div>
</section>

<section class="subscribe-page">
  <img class="background-disc" src="/assets/img/album-subscribe.jpg" alt="">
  <div class="container">
      <div class="row">
          <div class="left col-md-7">
              <div class="col-md-8">
                  <h2 class="title">Inscreva-se e fique por dentro.</h2>

                  <ul class="wrap-items">
                      <li class="item">Lorem ipsum dolor sit amet</li>
                      <li class="item">Lorem ipsum dolor sit amet</li>
                      <li class="item">Lorem ipsum dolor sit amet</li>
                      <li class="item">Lorem ipsum dolor sit amet</li>
                      <li class="item">Lorem ipsum dolor sit amet</li>
                      <li class="item">Lorem ipsum dolor sit amet</li>
                  </ul>
              </div>                
          </div>
          <div class="right col-md-5">
              <form action="" class="form">
                  <div class="row">
                      <div class="form-group col-sm-12">
                          <input class="form-control" type="text" name="data[User][name]" placeholder="Nome">
                      </div>
                  </div>

                  <div class="row">                
                      <div class="form-group col-sm-12">
                          <input class="form-control" type="text" name="data[User][email]" placeholder="Email">
                      </div>
                  </div>

                  <div class="row">    
                      <div class="form-group col-sm-12">
                          <input class="form-control" type="text" name="data[User][password]" placeholder="Senha">
                      </div>
                  </div>

                  <div class="row">    
                      <div class="form-group col-sm-12">
                          <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="singer" name="data[User][type]" class="custom-control-input" value="1">
                              <label class="custom-control-label" for="singer">Sou músico</label>
                          </div>

                          <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="default" name="data[User][type]" class="custom-control-input" value="2">
                              <label class="custom-control-label" for="default">Sou amante de música</label>
                          </div>
                      </div>
                  </div>

                  <div class="row">    
                      <div class="form-group col-sm-12 col-md-6">
                          <select class="form-control" name="data[User][gender]">
                              <option value="">Sexo</option>
                              <option value="1">Masculino</option>
                              <option value="2">Feminino</option>
                              <option value="3">Não binário</option>
                          </select>
                      </div>

                      <div class="form-group col-sm-12 col-md-6">
                          <input class="form-control" type="text" name="data[User][birthdate]" placeholder="00/00/0000">
                      </div>
                  </div>

                  <div class="row">
                      <div class="form-group col-sm-12">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Li e aceito os <a href="javascript:;">termos e condições</a></label>
                          </div>
                      </div>
                  </div>

                  <button class="btn btn-success">Inscrever-se</button>
              </form>
          </div>
      </div>
  </div>
</section>