<section class="artist-profile-page">
  <div class="container">
    <h2 class="title-default">Nome do artista</h2>

    <div class="row">
      <div class="col-md-3">
        <figure class="album-cover">
          <img class="image" src="/assets/img/cover-placeholder.png" alt="">
        </figure>
      </div>

      <div class="col-md-9 info-artist">
        <button class="btn btn-success">Acompanhar</button>
        <p>Visualizações: <span>25.000</span></p>
        <p>Especialidade: <span>Bar, Casamento</span></p>
        <p>Email: <span>email@email.com.br</span></p>
        <p>Telefone(s): <span>(15) 9 9999-9999, (15) 9 9999-9999</span></p>
        <p>Biografia: <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed iure in, aliquid illo voluptate quisquam nesciunt maxime iste dignissimos odio consequuntur natus repellat labore repellendus harum consequatur perspiciatis commodi corporis.</span></p>
      </div>
    </div>

    <div class="row">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="/artist-profile/feed-artist" routerLinkActive="active">Atualizações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/artist-profile/albums-artist" routerLinkActive="active">Álbuns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/artist-profile/ranking-artist" routerLinkActive="active">Classificação</a>
        </li>
      </ul>
    </div>
  </div>
</section>