<header class="header">
  <div class="container">
      <a class="left" routerLink="/">
          <img class="img" src="/assets/img/logo.png" alt="Logo SoundAround">
      </a>

      <nav class="menu">
          <ul class="wrap">
              <li class="item">
                  <a class="link" href="javascript:;">Planos</a>            
              </li>

              <li class="item">
                  <a class="link" href="javascript:;">Política de privacidade</a>            
              </li>

              <li class="item">
                  <a class="link" href="/inscrever-se">Inscrever-se</a>            
              </li>

              <li class="item">
                  <a class="link" routerLink="/profile">Entrar</a>            
              </li>
          </ul>
      </nav>

  </div>

  <div class="bg-header">
      <p class="phrase"><span class="uper">Sua música</span><br> ao redor de todos.</p>
  </div>
</header>