<aside class="menu-default">
    <ul class="wrap">
        <li class="item">
            <a class="link hasImage" routerLink="/navigation">
                <img class="img" src="/assets/img/logo.png" alt="Logo SoundAround">
            </a>
        </li>

        <li class="item">
            <a class="link" routerLink="/categories" routerLinkActive="active">Categorias</a>
        </li>

        <li class="item">
            <a class="link" routerLink="/my-city" routerLinkActive="active">Minha cidade</a>
        </li>

        <li class="item">
            <a class="link" routerLink="/my-region" routerLinkActive="active">Minha região</a>
        </li>
    </ul>
    
    <ul class="wrap">
        <li class="item">
            <a class="link" routerLink="/profile" routerLinkActive="active">Meu Perfil</a>
        </li>
        
        <li class="item">
            <a class="link" href="javascript:;" routerLinkActive="active">Recentes</a>
        </li>
        
        <li class="item">
            <a class="link" href="javascript:;" routerLinkActive="active">Playlists</a>
        </li>    
    </ul>

    <a class="search-default" href="javascript:;"><i class="fa fa-search"></i></a>
</aside>