.menu-default {
    width: 100vw;
    height: 80px;
    position: relative;
    
    background-color: #222;

    display: flex;

    .wrap {
        margin: 0;
        padding: 0 30px;

        position: relative;

        display: flex;
        list-style: none;

        &:before {
            content: "";
            height: 50%;
            width: 1px;
            
            background-color: rgba(#fff, 0.3);

            position: absolute;
            top: 50%;
            right: 0;

            transform: translateY(-50%);
        }

        &:last-of-type { &:before { display: none; } }

        .item {
            display: flex;
            align-items: center;

            .link {
                padding: 5px 20px;

                color: rgba(#fff, 0.8);
                font-size: 0.8rem;
                text-transform: uppercase;
                
                display: block;
                transition: 0.3s;

                text-decoration: none;

                &.hasImage {
                    width: 55.5px;
                    padding: 0;
                    margin-right: 30px;

                    &.active,
                    &:hover {
                        background-color: transparent;
                        transition: 0.3s;
                    }
                }
                
                .img {
                    width: 100%;
                }

                &:after {
                    content: "";

                    left: 50%;
                    bottom: -3px;
                    position: absolute;
                    transform: translateX(-50%);

                    width: 0;
                    height: 1px;
                    background-color: rgba(#fff,0.8);
                    transition: 0.3s;
                }

                
                &:hover {
                    transition: 0.3s;
                    color: #fff;
                }

                &.active {
                    position: relative;

                    &:after {
                        width: 70%;
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    .search-default {
        position: absolute;
        font-size: 1.3rem;

        color: rgba(#fff, 0.8);

        top: 50%;
        right: 30px;

        transform: translateY(-50%);
    }
}