<nav class="side-menu">
  <ul class="wrap">
    <li class="item">
      <a class="link" href="javascript:;">
        <span class="icon">
          <i class="fa fa-home"></i>
        </span>
        Item
      </a>
    </li>
    
    <li class="item">
      <a class="link" href="javascript:;">
        <span class="icon">
          <i class="fa fa-home"></i>
        </span>
        Item
      </a>
    </li>

    <li class="item">
      <a class="link" href="javascript:;">
        <span class="icon">
          <i class="fa fa-home"></i>
        </span>
        Item
      </a>
    </li>

    <li class="item">
      <a class="link" href="javascript:;">
        <span class="icon">
          <i class="fa fa-home"></i>
        </span>
        Item
      </a>
    </li>  
  </ul>
</nav>