<div class="container">
    <h2 class="title-default --sub">Artistas</h2>

    <div class="row">
        <a routerLink="/artist-profile" class="col-md-4 text-center">
            <figure class="album-cover">
            <img class="image" src="/assets/img/cover-placeholder.png" alt="">
            </figure>

            Nome do artista
        </a>

        <a routerLink="/artist-profile" class="col-md-4 text-center">
            <figure class="album-cover">
            <img class="image" src="/assets/img/cover-placeholder.png" alt="">
            </figure>

            Nome do artista
        </a>

        <a routerLink="/artist-profile" class="col-md-4 text-center">
            <figure class="album-cover">
            <img class="image" src="/assets/img/cover-placeholder.png" alt="">
            </figure>

            Nome do artista
        </a>
    </div>
</div>