@import '~sass/helpers/variables';
  

.what-we-have {
    position: relative;
    margin-bottom: 45px;
    
    .container {
        display: flex;
        justify-content: space-between;

        .left {
            .img {
                position: absolute;
                width: 525px;
                left: 0;
                top: 0;
            }
        }

        .right {
            width: 40%;

            .title {
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            .sub-title {
                font-size: 21px;                
                font-weight: bold;
                margin-bottom: 1rem;
                margin-top: 2rem;
            }

            .text {
                font-size: 15px;
                font-weight: normal;
                line-height: 150%;
            }
        }
    }
}

.our-plans {
    padding: 50px 0;
    background-color: #f9f9f9;

    .container {
        > .title {
            font-size: 48px;
            text-align: center;

            margin-bottom: 2rem;
            letter-spacing: -.02em;
        }
        
        .wrap-plan {
            width: 100%;
            
            display: flex;
            justify-content: space-between;

            .plan {
                background-color: #fff;
                border-radius: 8px;
                padding: 28px;
                width: 31%;

                transition: 0.3s;

                &:hover {
                    transition: 0.3s;
                    transform: translateY(-20px);
                }

                .title-wrap {
                    margin-bottom: 3rem;

                    .title {
                        font-weight: 400;
                        font-family: $circular;
                    }

                    .sub-title {
                        font-size: 32px;
                        font-family: $circular;
                        font-weight: 900;
                        margin: 8px 0 0;

                        .min {
                            font-weight: 400;
                            font-size: 16px;
                            font-family: $circularBook;
                        }
                    }
                }

                .wrap-items {
                    border-top: 1px solid #d9dadc;
                    border-bottom: 1px solid #d9dadc;
                    padding: 34px 0 26px 26px;
                    margin: 4px 0 28px;

                    list-style-image: url(../../assets/img/plan-checklist.svg);

                    color: #000;
                    font-weight: 400;

                    .item {
                        padding: 0 0 7px 12px;
                        line-height: 22px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.subscribe-page {
    height: calc(100vh - 80px);

    display: flex;
    align-items: center;

    position: relative;

    overflow: hidden;

    .background-disc {
        position: absolute;
        bottom: -55%;
        left: -25%;

        width: 700px;

        animation: round 5s linear infinite;
    }

    .left {
        display: flex;
        justify-content: flex-end;

        .title { font-size: 1.7rem }

        .wrap-items {
            border-top: 1px solid #d9dadc;
            border-bottom: 1px solid #d9dadc;
            padding: 34px 0 26px 26px;
            margin: 4px 0 28px;
            width: 90%;

            list-style-image: url(../../assets/img/plan-checklist.svg);

            color: #000;
            font-weight: 400;

            .item {
                padding: 0 0 7px 12px;
                line-height: 22px;
                font-size: 16px;
            }
        }
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);            
    }
}