<section class="category-detail-page">
  <div class="container">
    <h2 class="title-default">Rock</h2>
    
    <div class="wrap-sounds">
      <h3 class="sub-title">Mais ouvidas</h3>
      <div class="row">
        <a routerLink="/track-detail" class="col-md-2" *ngFor="let i of numberIterateTest">
          <img class="cover-album" src="/assets/img/placeholder.png" alt="">
          <p class="text-center">Nome da música</p>
        </a>
      </div>
    </div>

    <div class="wrap-sounds">
      <h3 class="sub-title">Têndencia</h3>
      <div class="row">
        <a routerLink="/track-detail" class="col-md-2" *ngFor="let i of numberIterateTest">
          <img class="cover-album" src="/assets/img/placeholder.png" alt="">
          <p class="text-center">Nome da música</p>
        </a>
      </div>
    </div>

    <div class="wrap-sounds">
        <h3 class="sub-title">Merecem uma força</h3>
        <div class="row">
          <a routerLink="/track-detail" class="col-md-2" *ngFor="let i of numberIterateTest">
            <img class="cover-album" src="/assets/img/placeholder.png" alt="">
            <p class="text-center">Nome da música</p>
          </a>
        </div>
      </div>
  </div>
</section>