<article class="artist-news-wrap">
    <h2 class="title-default --sub">News</h2>
  
    <div class="row-list-wrap">
      <div class="row-list">
        <a class="item" routerLink="/artist-profile">
          <figure class="artist-cover">
            <img class="image" src="/assets/img/cover-placeholder.png" alt="">
          </figure>
            <span class="name">Nome do artista</span>
        </a>
      </div>
      
      <div class="row-list">
        <a class="item" routerLink="/artist-profile">
          <figure class="artist-cover">
            <img class="image" src="/assets/img/cover-placeholder.png" alt="">
          </figure>
            <span class="name">Nome do artista</span>
        </a>
      </div>
        
      <div class="row-list">
        <a class="item" routerLink="/artist-profile">
          <figure class="artist-cover">
            <img class="image" src="/assets/img/cover-placeholder.png" alt="">
          </figure>
            <span class="name">Nome do artista</span>
        </a>
      </div>
  
      <div class="row-list">
        <a class="item" routerLink="/artist-profile">
          <figure class="artist-cover">
            <img class="image" src="/assets/img/cover-placeholder.png" alt="">
          </figure>
            <span class="name">Nome do artista</span>
        </a>
      </div>
      
      <div class="row-list">
        <a class="item" routerLink="/artist-profile">
          <figure class="artist-cover">
            <img class="image" src="/assets/img/cover-placeholder.png" alt="">
          </figure>
            <span class="name">Nome do artista</span>
        </a>
      </div>
        
      <div class="row-list">
        <a class="item" routerLink="/artist-profile">
          <figure class="artist-cover">
            <img class="image" src="/assets/img/cover-placeholder.png" alt="">
          </figure>
            <span class="name">Nome do artista</span>
        </a>
      </div>
    </div>
  </article>